@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-size: unset;
    font-weight: unset;
  }
}
